body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

@media only screen and (max-width: 769px) {
    .righthero{
        display: none !important;
    }
  }